.content{
    display: flex;
    justify-content: space-between;
}
.display{
    /* background-color: azure; */
    width:80%;
    padding:30px;
}

.content .sidebar{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding:30px;
}