.content{
    display: flex;
    flex-direction: column;
    gap:20px;
}

.one{
    background-color: azure;
    padding: 15px;
}

.metadata{
    display: flex;
    justify-content: space-between;
}
.time{
    display: flex;
    justify-content: space-between;
    gap: 5px;
}