<nav class="header">
    <div class="image">
        <a routerLink=''> <img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR9quBo9zw0DL1W2EvsA5MM431_Q1tppHZBPg&usqp=CAU"
                alt=""> </a>
    </div>

    <!-- <div class="links"> -->
    <a routerLink="/register">Register</a>
    <a routerLink="/login">Login</a>
    <a routerLink="/profile">Profile</a>
    <a routerLink="">Logout</a>
    <!-- </div> -->
</nav>

<!-- <app-onequestion></app-onequestion> -->
<router-outlet></router-outlet>


<br>
<div class="end">
    <div class="info">
        <h4>THE GATEWAY</h4>
        <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae iure corporis aut <br>
            Amet, explicabo. Soluta ipsam suscipit provident, facilis unde delectus nesciunt <br>
            voluptas deserunt doloremque esse ex eaque perferendis.
        </P>
    </div>

    <div class="about">
        <h4>About Us</h4>
        <ul>
            <li>About Us</li>
            <li>Privacy</li>
            <li>Terms of Service</li>  
        </ul>
    </div>

    <div class="contact">
        <h4>Get in Touch</h4>
        <ul>
            <li> (480)555-0103</li>
            <li> 415 Washington Ave.</li>
            <li> debra.holt@example.com</li>
        </ul>
    </div>

    <div class="connect">
        <h4>Connect with Us</h4>
        <ul>
            <li> <a href="">Facebook</a></li>
            <li> <a href="">Twitter</a></li>
            <li> <a href="">Youtube</a></li>
        </ul>
    </div>
</div>

<footer>
    <div>
        <p>Made with Love by Figmaland.</p>
    </div>
    <div>
        <p>Copyright 2023.</p>
    </div>
    <div>
        <p>All Rights Reserved</p>
    </div>
</footer>