.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 60px;
    background-color: rgb(134, 185, 216);
}
.header .image a img{
    width: 100px;
    height: 90%;
}
.header a{
    /* display: flex;
    flex-direction: column; */
    /* justify-content: space-between; */
    font-size: 25px;
    color: black;
    /* margin: 10px; */
}
.end{
    display: flex;
    justify-content: space-around;
    height: 150px;
    background-color: rgb(134, 185, 216);
}
li{
    list-style: none;
}
footer{
    display: flex;
    justify-content: space-around;
    height: 40px;
    align-items: center;
    background-color: rgb(53, 74, 86);
}
footer p{
    color: white;
}