<div class="display">
    <div class="question">

        <div class="section-1">
            <p>{{x!.title}}</p>
            <h2 *ngIf="!shqQuiz" (click)="ShowQuestion()"> <button>+</button> </h2>
            <h2 *ngIf="shqQuiz" (click)="ShowQuestion()"> <button>-</button> </h2>
        </div>


        <div class="shoUp" *ngIf="shqQuiz">


            <div class="question-content">
                <p>I have two screens the first of login and the second shows the user information. On the login screen
                    I keep the user_id value in user.defaults and when I go to the second screen I use that value to..
                </p>
            </div>

            <div class="answer" *ngIf="shqQuiz">
                <p>Answer</p>
                <p> 10 Votes</p>
                <p>You will have to submit a support request through AWS Contact Us page. Open the I cannot login to my
                    AWS Account and then Lost account information. Hope that helps</p>
                <h2 class="answer-minus" *ngIf="!shAnsw" (click)="showAnsw()"> <button>+</button> </h2>
                <h2 class="answer-minus" *ngIf="shAnsw" (click)="showAnsw()"> <button>-</button> </h2>

            </div>

            <div class="answer-content" *ngIf="shAnsw">
                <p>Comment</p>
                <p>
                    You will have to submit a support request through AWS Contact Us page. Open the I cannot login to my
                    AWS Account and then Lost account information. Hope that helps.
                </p>
            </div>
        </div>
    </div>

</div>