<div class="content">
  <div class="hero">

    <div class="welcome">
      <h1> WELCOME TO THE GATEWAY</h1>
    </div>
  
    <div class="one">
      <h1>The Gateway is not just an online question and answer platform,
        it is a community.</h1>
      <!-- <h1>START YOUR SOFTWARE DEVELOPMENT JOURNEY
        <br>
         JOIN THE COMMUNITY 
        <br>
        AND GET HELP WITH ALL YOUR QUESTIONS
      </h1> -->
    </div>

  </div>

  <div class="about">
    <!-- <div class="image">
      <img src="https://images.unsplash.com/photo-1428223501723-d821c5d00ca3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=928&q=80" alt="">
    </div> -->
    <div class="info">
      <!-- <p>Start your software development journey.</p> -->
      <p>Get help with your development questions from
        other developers worldwide.</p>
      <p>Join the community and have someone to help you in this software development journey.</p>
    </div>
  </div>

  <div class="onebg">
    <!-- <div class="mandate">
      <p>Get help with your development questions from
        other developers worldwide.</p>
    </div> -->

    <div class="use">
      <div>
        <h2>MAKE USE OF THE GATEWAY</h2>
      </div>

      <div class="instructions">
        <div class="cards">
          <h3>CREATE AN ACCOUNT</h3>
        </div>

        <div class="cards">
          <h3>POST QUESTIONS</h3>
        </div>

        <div class="cards">
          <h3>ANSWER AND COMMENT <br>
            ON QUESTIONS</h3>
        </div>

      </div>
    </div>
  </div>

  <div class="stats">
    <div class="users-card">
      <i class="fa-solid fa-users"></i>
      <!-- <ion-icon name="people-sharp"></ion-icon> -->
      <h3> 20,000+ USERS </h3>
    </div>
    <div>
      <h3> 45,000+ QUESTIONS </h3>
    </div>
    <div>
      <h3> 160,000+ ANSWERS </h3>
    </div>
  </div>








</div>