#regist {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* gap: 20px; */
    background-color: #cccc;
    width: 700px;
    border-radius: 7px;
    padding: 30px;
    height: 90%;
}
form{
    display: flex;
    flex-direction: column;
    width: 70%;
    gap: 30px;  
    /* height: 500px */
}

form input {
    height: 30px;
}

.regbutton {
    height: 30px;
    width: 100px;
    border: 0.5em;
    border-radius: 7px;
    background-color: rgba(35, 166, 240, 255);
}